.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
